<template>
  <div class="about" style="margin: auto auto; max-width: 40em;">
    <h1>About Flipstarters on Bitcoin Cash</h1>
    <p>
        This website was created by and is maintained by <a href="https://twitter.com/dagur" target="_blank">@dagur</a>.
        This page keeps an overview of active and historical flipstarters.
        Due to the desentrailzed nature of Flipstarter, this is a manual task.
    </p>
    <p>
        This website has been improved with contributions from
        <a target="_blank" href="https://gitlab.com/dagurval/flipstarters/-/merge_requests?scope=all&utf8=%E2%9C%93&state=merged&author_username=kharri1073">
        @kharri1073</a>.
    </p>
    <p>
        <a
          href="https://gitlab.com/flipstarter.directory/flipstarter-directory-backend"
          target="_blank"
        >Flipstarter Directory Backend</a>
        by sanchaz.
        <a style="margin-right: 5px;" href="https://twitter.com/_sanchaz_" target="_blank">Twitter</a>
        <a href="https://www.reddit.com/user/sanchaz" target="_blank">Reddit</a>
    </p>
    <p>
        This website, including the flipstarter data collected is licensed
        under GNU AFFERO GENERAL PUBLIC LICENSE Version 3 (AGPLv3). Source
        code is available on <a href="https://gitlab.com/dagurval/flipstarters">GitLab</a>
    </p>
  </div>
</template>
<style>
html {
  overflow-y:scroll;
}
</style>
