<template>
  <div style="margin: auto auto; max-width: 40em;">
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <symbol id="icon-remove_circle" viewBox="0 0 24 24">
          <!-- eslint-disable -->
          <path d="M17.016 12.984v-1.969h-10.031v1.969h10.031zM12 2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055-7.055 2.93-7.055-2.93-2.93-7.055 2.93-7.055 7.055-2.93z">

          </path>
        </symbol>
      </defs>
    </svg>
    <div v-if="!submitSuccess">
      <h2>Flipstarter submission form (beta)</h2>

      <p>Submit a flipstarter to be listed on this website.</p>
      <p>Thank you for helping keeping track of all flipstarters. We accept submissions for both running and completed flipstarters.</p>

      <label for="campaign-url">
        URL to the flipstarter:
      </label>
      <b-form-input
        id="campaign-url"
        v-model="campaign.url"
        @change="enteredUrl"
        placeholder="https://flipstarter.example.org">
      </b-form-input>
      <b-button style="margin-top: 0.5em"
         @click="enteredUrl"
         variant="success"
         :disabled="loadingData">
            Load flipstarter details
          </b-button>

      <div class="urlLoadingFailure" v-if="urlLoadingError">
        Error loading campaign data from url: {{ urlLoadingError }}<br/>
        Please fill in manually.
      </div>
      <br/>
      <div v-if="loadingData">
        Fetching information...<br/>
        <b-spinner label="Spinning"></b-spinner>
      </div>
      <div v-if="dataLoaded" style="margin-top: 1em;">
        <h3>Flipstarter details</h3>
        <b-form-group>
          <template v-slot:label>
            <span class="inputLabel">
              Amount of BCH requested by campaign
            </span>
          </template>
          <b-form-input
            class="formEntry"
            v-model="amountBCH"
            type="number"
            placeholder="Amount"
          />
        </b-form-group>
        <b-form-group>
          <template v-slot:label>
            <span class="inputLabel">
              Title of flipstarter
            </span>
          </template>
          <b-form-input
            class="formEntry"
            v-model="campaign.title"
            placeholder="Title"
          />
        </b-form-group>
        <b-form-group>
          <template v-slot:label>
            <span class="inputLabel">
              Description (short snippet from campaign site)
            </span>
          </template>
          <b-form-textarea
            class="formEntry"
            v-model="campaign.description"
            placeholder="Description"
          />
        </b-form-group>
        <b-form-group>
          <template v-slot:label>
            <span class="inputLabel">
              Categories (hold CTRL/Option key to select multiple)
            </span>
          </template>
          <b-form-select
            v-model="categories"
            :options="categoryOptions"
            multiple
            :select-size="4"
          />
          <div style="color: red;" v-if="loadCategoriesError">
            Failed to load Categories: {{ loadCategoriesError }}
          </div>
        </b-form-group>
        <b-form inline>
        <b-form-group>
          <template v-slot:label>
            <span class="inputLabel">
              Posts about this flipstarter (announcements)
            </span>
          </template>
          <div class="announcement-message">
            <p>The flipstarter needs to be announced by its owner before we accept it here.</p>
            <p>Please add links to tweets, blog posts, reddit posts, youtube videos or other
               media where the owner of the flipstarter tells about it.
            </p>
          </div>
          <div v-for="(a, index) in announcements" :key="'an' + index">
            {{ a }}
            <span @click="removeAnnouncement(index)">
              <svg
                class="icon icon-remove_circle"
              >
                <use xlink:href="#icon-remove_circle"></use>
              </svg>
            </span>
          </div>
          <b-form-input
            class="formEntry"
            :disabled="announcementLimit"
            v-model="announcement"
            @change="announcementAdded"
            :placeholder="announcementLimit ? 'Max 3 urls' : 'https://blog.example.org/my-flipstarter'"
          />
      <b-button
         @click="announcementAdded"
         variant="success"
         size="sm"
         :disabled="loadingData" style="margin-left: 0.5em">
            Add announcement
          </b-button>
        </b-form-group>
        </b-form>
        <div>
          <div v-if="preSubmitErrorMessages" class="preSubmitErrors">
            <div v-for="(message, index) in preSubmitErrorMessages" :key="'pse' + index">
              - {{ message }}<br/>
            </div>
          </div>

          <div style="margin-top: 2em;">
          <p>
            Ready to submit? When you submit, a team of reviewers will be notified. The submission show up on this site when approved by a reviewer.
          </p>
          <p>
            Submissions are in beta testing. On error please submit a gitlab issue (see About) or contact dagurval on Telegram.
          </p>
          </div>

          <b-button
            style="margin-top: 1em; margin-bottom: 2em;"
            variant="primary"
            @click="submitFlipstarter"
            size="lg"
            :disabled="submitting"
          >
            Submit for review
          </b-button>

          <b-spinner
            class="loading"
            v-if="submitting"
            type="grow"
            label="Submitting"
          />
        </div>
        <div v-if="submitFailed">
          <h2 class="failed"> Oh no! Submission failed. Try again!</h2>
          {{ submitFailedMessage }}
        </div>
      </div>
    </div>
    <div v-else>
      <h2 class="success">Submitted! Thank you!</h2>
      All submissions are human validated.<br/>
      We will evaluate the submission shortly.<br/>
      <b-button
        @click="reset"
      >
        Submit Another
      </b-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import Intro from '@/components/Intro.vue';
import {
  fetchFlipstarterData, RUNNING, SUCCESS, EXPIRED,
} from '@/flipstarter';
import {
  Campaign,
  getCategories,
  submitFlipstarter,
} from '@/flipstarterdirectory';
import { ensureHttp, scrollBottom } from '@/utils';

const EMPTY_CAMPAIGN: Campaign = {
  amount: 0,
  url: '',
  title: '',
  description: '',
  status: RUNNING,
  fundedTx: '',
  categories: [],
  announcements: [],
  // DEPRECATED: We take our own screenshots
  archives: [],
};

@Component({
  components: {
    Intro,
  },
})
export default class Submit extends Vue {
  SUCCESS = SUCCESS;

  loadingData = false;

  dataLoaded = false;

  submitting = false;

  submitFailed = false;

  submitFailedMessage = '';

  preSubmitErrorMessages: string[] = [];

  submitSuccess = false;

  campaign = { ...EMPTY_CAMPAIGN };

  categoryOptions: string[] = [];

  categories: string[] = [];

  // applies to announcements and archives
  maxUrls = 3;

  announcement = '';

  announcements: string[] = [];

  loadCategoriesError = '';

  urlLoadingError = '';

  get announcementLimit() {
    return this.announcements.length >= this.maxUrls;
  }

  archive = '';

  archives: string[] = [];

  get archiveLimit() {
    return this.archives.length >= this.maxUrls;
  }

  statusOptions = [
    { value: SUCCESS, text: 'Success' },
    { value: RUNNING, text: 'Running' },
    { value: EXPIRED, text: 'Expired' },
  ]

  get amountBCH() {
    return this.campaign.amount / 100000000;
  }

  set amountBCH(value) {
    this.campaign.amount = value * 100000000;
  }

  @Watch('categories')
  setCampaignCategories(newValue: string[]) {
    this.campaign.categories = newValue.map((c) => {
      const obj: { name: string } = { name: c };
      return obj;
    });
  }

  @Watch('announcements')
  setCampaignAnnouncements(newValue: string[]) {
    this.campaign.announcements = newValue.map((a) => {
      const obj: { url: string } = { url: a };
      return obj;
    });
  }

  @Watch('archives')
  setCampaignArchives(newValue: string[]) {
    this.campaign.archives = newValue.map((a) => {
      const obj: { url: string } = { url: a };
      return obj;
    });
  }

  enteredUrl() {
    this.urlLoadingError = '';
    if (this.loadingData || this.campaign.url === '') {
      this.urlLoadingError = 'URL missing';
      return;
    }
    this.loadingData = true;
    fetchFlipstarterData(this.campaign.url).then((data) => {
      if (data && Object.keys(data).length > 0) {
        this.campaign = data;
      }
      this.urlLoadingError = '';
    }).catch((error) => {
      this.urlLoadingError = error.message;
    }).then(() => {
      this.dataLoaded = true;
      this.loadingData = false;
    });
    getCategories().then((categories) => {
      if (Array.isArray(categories)) {
        this.categoryOptions = categories.map((c) => c.name);
      }
      this.loadCategoriesError = '';
    }).catch((error) => {
      this.loadCategoriesError = error.message;
    });
  }

  isValidSubmission(): boolean {
    this.preSubmitErrorMessages = [];
    if (this.campaign.amount === 0) {
      this.preSubmitErrorMessages.push(
        'Campaign amount must be bigger than 0 or it isn\'t really a Flipstarter is it?',
      );
    }
    if (!this.campaign.title) {
      this.preSubmitErrorMessages.push(
        'Please add a title.',
      );
    }
    if (!this.campaign.description) {
      this.preSubmitErrorMessages.push(
        'Please add a description.',
      );
    }
    if (this.announcements.length === 0) {
      this.preSubmitErrorMessages.push(
        'Please provide at least one announcement url.',
      );
    }
    if (this.preSubmitErrorMessages.length > 0) {
      return false;
    }
    return true;
  }

  submitFlipstarter() {
    this.submitting = true;
    if (!this.isValidSubmission()) {
      this.submitting = false;
      return;
    }
    // make sure we have http or https as flipstarterdirectory
    // requires this.
    this.campaign.url = ensureHttp(this.campaign.url);
    submitFlipstarter(this.campaign).then(() => {
      this.submitSuccess = true;
      this.submitFailedMessage = '';
    }).catch((error) => {
      this.submitFailed = true;
      if (error.response.data) {
        this.submitFailedMessage = error.response.data;
      } else {
        this.submitFailedMessage = error;
      }
      this.$nextTick(() => {
        scrollBottom();
      });
    }).then(() => {
      this.submitting = false;
    });
  }

  announcementAdded(value: string) {
    this.announcements.push(value);
    this.announcement = '';
  }

  archiveAdded(value: string) {
    this.archives.push(value);
    this.archive = '';
  }

  removeAnnouncement(index: number) {
    this.announcements.splice(index, 1);
  }

  removeArchive(index: number) {
    this.archives.splice(index, 1);
  }

  reset() {
    this.submitting = false;
    this.submitFailed = false;
    this.submitSuccess = false;
    this.loadingData = false;
    this.dataLoaded = false;
    this.campaign = { ...EMPTY_CAMPAIGN };
    this.categories = [];
    this.announcements = [];
    this.archives = [];
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
a {
  color: #000000;
}

.urlLoadingFailure {
  color: rgb(255, 123, 0);
}

.formEntry {
  margin-top: 5px;
}

.inputLabel {
  font-weight: 600;
}

.loading {
  margin-left: 10px;
  height: 1em;
  width: 1em;
}
.success {
  color: green;
}

.failed {
  color: red;
}

.warning {
  color: orange;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.announcement-message {
  background-color: rgb(201, 201, 201, 0.5);
  padding: 10px;
  color: rgb(11, 11, 88);
  font-style: italic;
  border-radius: 10px;
}

.preSubmitErrors {
  color: red;
  font-style: italic;
  margin-bottom: 10px;
}
</style>
