<template>
  <div style="margin: auto auto; max-width: 40em;">
    <Intro />
    <Loading :loading="loadingFlipstarters" :error="error">
      <h2>Active flipstarters</h2>
      <b-pagination
        v-model="pagination.currentPage"
        :total-rows="rows"
        :per-page="pagination.perPage"
      />
      <div v-for="flipstarter of pRunning" :key="flipstarter.name" :per-page="pagination.perPage"
        :current-page="pagination.currentPage" style="max-width: 40em; margin: auto auto;">
          <CampaignJumbotron :f=flipstarter />
      </div>
      <b-pagination
        v-model="pagination.currentPage"
        :total-rows="rows"
        :per-page="pagination.perPage"
      />
    </Loading>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { getFlipstarters } from '@/flipstarter';
import CampaignJumbotron from '@/components/CampaignJumbotron.vue';
import Intro from '@/components/Intro.vue';
import Loading from '@/components/Loading.vue';

Vue.filter('status', (status: string) => {
  //
  const uppercaseFirst = status.charAt(0).toUpperCase() + status.slice(1);
  return `Status: ${uppercaseFirst}`;
});

@Component({
  components: {
    CampaignJumbotron,
    Intro,
    Loading,
  },
})

export default class ActiveFlipstarters extends Vue {
  @Prop() private msg!: string;

  private loadingFlipstarters = true;

  private error = '';

  // eslint-disable-next-line
  private flipstarters: any = null;

  pagination = {
    perPage: 10,
    currentPage: 1,
    running: [],
  }

  rows = this.pagination.running.length;

  created() {
    getFlipstarters().then((data) => {
      this.flipstarters = data;
      this.pagination.running = this.flipstarters.filter((f: { status: string }) => f.status === 'running');
    }).catch((error) => {
      this.error = error.message;
    }).then(() => {
      this.loadingFlipstarters = false;
    });
  }

  get pRunning() {
    return this.pagination.running.slice().reverse().slice((this.pagination.currentPage - 1)
      * this.pagination.perPage, this.pagination.currentPage * this.pagination.perPage);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
a {
  color: #000000;
}
</style>
