<template>
  <div>
    <h1>Flipstarters on Bitcoin Cash</h1>
    <p>
        Flipstarter provides a way for any project to engage with potential funders in a way
        that encourages accountability for projects and fairness for funders.
    </p>
    <p>
        This page keeps an overview of active and historical flipstarters.
    </p>
    <div style="margin-bottom: 1em;">

        Do you know of a flipstarter that is not listed here?

        <div style="margin-top: 0.5em">
            <b-button variant="primary" size="lg" to="/submit">Submit a flipstarter</b-button>
        </div>
    </div>

    <p v-if="succesfulCount != -1">
        So far, <span style="font-weight: bolder;">{{ succesfulCount }} projects</span>
        have been successfully funded using flipstarter, receiving a total of
          <span style="font-weight: bolder;">{{ totalFunded | round(2) }}&nbsp;BCH</span>.
    </p>
    <p>
        <b-button variant="secondary" size="lg" href="https://flipstarter.cash/en/how-to-pledge">How to pledge</b-button>
        &nbsp;<b-button variant="secondary" size="lg" href="https://flipstarter.cash/en/how-to">Start a campaign</b-button>
    </p>
        <p style="font-style: italic;">A flipstarter listing is not an endorsement.
        Always do your own research before pledging.
    </p>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getFlipstarters } from '@/flipstarter';

Vue.filter('round', (value: number, decimals: number) => Math.round(value * (10 ** decimals)) / (10 ** decimals));

@Component
export default class About extends Vue {
  private succesfulCount = -1;

  private totalFunded = -1;

  created() {
    getFlipstarters().then((flipstarters) => {
      // eslint-disable-next-line
      const successful = flipstarters.filter((f: any) => f.status === 'success');
      // eslint-disable-next-line
      this.totalFunded = successful.reduce((a: any, b: any) => {
        const aa = typeof a === 'number' ? a : a.amount;
        const bb = typeof b === 'number' ? b : b.amount;
        return aa + bb;
      });
      this.succesfulCount = successful.length;
    }).catch((error) => {
      console.log(error);
    });
  }
}
</script>
